process {
    executor = 'slurm'
    containerEngine = 'apptainer'    

    // Dummy container for implicit processes that still need a designated container
    container = 'debian:stable'

    withName: HIFIASM {
        clusterOptions = '-A gbru_fy21_salm_compgen --mem=64GB'
        cpus = 24
        memory = '64 GB'
        time = '24h'
        errorStrategy = 'finish'
    }

    withName: LOG_EMPTY_ASSEMBLY {
        clusterOptions = '-A gbru_fy21_salm_compgen'
        errorStrategy = 'ignore'
    }

    withName: ORIENTATION {
        clusterOptions = '-A gbru_fy21_salm_compgen'
        container = '/project/gbru_fy21_salm_compgen/annette/salmonella_genome_assembly/apptainer_cache/mappy_bio.sif'
        errorStrategy = 'finish'
    }

    // Annotate with tRNAscan-SE separately because bakta's chunking method leads to errors
    withName: TRNASCAN {
        clusterOptions = '-A gbru_fy21_salm_compgen --mem=192GB'
        cpus = 8
        memory = '192 GB'
        time = '4h'
        errorStrategy = 'finish'
    }

    // Annotation: Memory intensive, requires significant CPU for Bakta's tools
    withName: BAKTA_ANNOTATE {
        clusterOptions = '-A gbru_fy21_salm_compgen --mem=192GB'
        cpus = 8
        memory = '192 GB'
        time = '4h'
        errorStrategy = 'finish'
    }
}

report {
    enabled = true
    overwrite = true
}

apptainer {
    enabled = true
    autoMounts = true
    // Store images here to avoid re-downloading every run
    cacheDir = '/project/gbru_fy21_salm_compgen/annette/salmonella_genome_assembly/apptainer_cache'
    
    // Ensures containers can write to system temp directories if needed
    runOptions = '-C -H $PWD'
    
    // Remote proxy
    envWhitelist = 'http_proxy,https_proxy'
}
