process {
    // Default executor for all processes unless overridden
    executor = 'slurm'

    // Resource allocation for the new adapter filtering process
    withName: ADAPTER_FILT {
        clusterOptions = '-A gbru -q atlas -N 1 -n 12'
        cpus = 12
        time = '1h'
    }

    withName: HIFIASM {
        clusterOptions = '-A gbru -q atlas -N 1 -n 24'
        cpus = 24
        time = '12h'
    }

    // Runs on the head node
    withName: ORIENTATION {
        executor = 'local'
    }
        // One-time setup: Needs network access and enough time for ~80GB download
    withName: BAKTA_DOWNLOAD {
        clusterOptions = '-A gbru -q atlas -N 1 -n 1'
        cpus = 1
        time = '4h' // Adjust based on your cluster's internet speed
    }

    // Annotation: Memory intensive, requires significant CPU for Bakta's tools (tRNAscan-SE, etc.)
    withName: BAKTA_ANNOTATE {
        clusterOptions = '-A gbru -q atlas -N 1 -n 24'
        cpus = 24
        memory = '192 GB' // Bakta's "full" DB works best with ample RAM
        time = '4h'
    }
}

apptainer {
    enabled = true
    autoMounts = true
    // Store images here to avoid re-downloading every run
    cacheDir = 'apptainer_cache'
    
    // Ensures containers can write to system temp directories if needed
    runOptions = '-C -H $PWD'
}
